.navbar-section {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 10vh;
    padding: 0 50px;
    color: #fff;
}

.navbar-section .navbar-logo a {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -2px;
    text-decoration: none;
    color: #fff;
}

.navbar-section ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50%;
}

.navbar-section ul a {
    display: block;
    padding: 15px 25px;
    color: #949494;
    text-decoration: none;
    font-weight: 500;
    transition: all .2s;
}

.navbar-section ul a:hover {
    color: white;
}

.navbar-section ul a.log-in {
    border: solid #949494 1px;
    /* border-radius: 5px; */
}

.navbar-section ul a.log-in  {
    color: white;
}

.navbar-section ul button.log-out {
    background-color: #331212;
    color: white;
    font-size: 16px;
    padding: 15px 25px;
    border: solid #331212 1px;
    cursor: pointer;
    transition: all .2s;
}

.navbar-section ul button.log-out:hover {
    background-color: rgb(219, 143, 0);
    border: solid #949494 1px;
}

.navbar-section ul a.log-in:hover {
    background-color: #331212;
    border: solid #331212 1px;
}

Link {
    color: #fff;
}